<section class="main-container">
    <app-header> </app-header>
    
    <div class="body-main">
    <article class="body">
        <img src="images/petShop/Cat.svg" alt="" class="pet-img">
        <div class="container">
            <form [formGroup]="formUserRegister">
                <h1>Registrar Cliente</h1>
                <article>
                    <label for="">Nome completo:</label>
                    <input type="text" pInputText formControlName="ownerName" />
                </article>
                
                <article>
                    <label for="">Email:</label>
                    <input type="text" pInputText formControlName="email" />
                </article>
                
                <p-button type="button" class="btnFooter" label="Registrar" [raised]="true" (click)="registerUser()" />
            </form>
        
        </div>
        <img src="images/petShop/Dog.svg" alt="" class="pet-img">

    </article>
</div>

</section>

<p-toast />