<section class="main-container">
    <app-header> </app-header>
    
    <div class="body-main">
    <article class="body">
        <img src="images/petShop/Cat.svg" alt="" class="pet-img">
        <div class="container">
            <form [formGroup]="formUserRegister">
                <h1>Registrar Cliente</h1>
                <article>
                    <label for="">Nome completo:</label>
                    <input type="text" pInputText formCrontrolName="nome" />
                </article>
                
                <article>
                    <label for="">Email:</label>
                    <input type="text" pInputText formControlName="email" />
                </article>

                <article>
                    <label for="">Tipo de atendimento:</label>
                    <p-multiSelect class="select" [options]="listAtendimentos" optionLabel="label" placeholder="Selecione um atendimento" />
                </article>

                <p-button class="btnFooter" label="Registrar" [raised]="true" />
            </form>
        
        </div>
        <img src="images/petShop/Dog.svg" alt="" class="pet-img">

    </article>
</div>

</section>