.main-container{
	background: #ffae34;
	height: 100vh;
	width: 100%;
}

	
header {	
	position: relative;
	z-index: 2;	
	img {
		width: 100%;
		height: 150px;
		position: absolute;
		z-index: -1;
	}
	
	nav {
		width: 100%;
	}

	nav ul {
		display: flex;
		height: 100px;
		justify-content: space-around;
		align-items: center;
		list-style-type: none;
		padding: 10px 0;
		margin: 0;
	}
	nav ul li {
		color: #ffffff; 
		font-size: 2rem;
		font-family: 'Jua', sans-serif;
		cursor: pointer;
	}
	nav ul li:hover {
		color: #ffae34; 

	}



}

.body-main{
	padding-top: 5%;
	h1{
		width: 100%;
		display:flex;
		justify-content: center;
		font-size: 2.5rem;
		font-weight: normal;
		color: #ffffff;
		padding-bottom: 10px;
	}
	article{
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: 100%;

		.container{
			width: 70%;

		}
		.pet-img{
			width: 150px;
			height: auto;
			margin: 10px auto; 
		}
	}

}

::ng-deep{
	.p-datatable .p-datatable-thead > tr > th {
		text-align: left;
		padding: 1.2rem 1rem;
		border: 1px solid #e5e7eb;
		border-width: 0 0 1px 0;
		font-size: 1.2rem;
		font-weight: 700;
		color: #ffffff;
		background: #0075eb;
		transition: box-shadow 0.2s;
	}

	.p-datatable-wrapper{
		box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.31);
		border-radius: 10px;
	}
	.p-paginator {
		background: transparent;
		color: #6b7280;
		border: none; 
		border-width: 0;
		padding: 0.5rem 0rem;
		border-radius: 6px;
	}

	.p-paginator {
		display: flex;
		align-items: center;
		justify-content: right;
		flex-wrap: wrap;
	}

	.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
		background: #0075eb;
		border-color: #EFF6FF;
		color: #EFF6FF;
	}

	.p-dropdown {
		box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.31);
	}
	


}