.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    .banner{
        background-color: #ffae34;
        max-height: 10vh;
        padding: 0px 2% ;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            img{
                width: 100px;
                height: 100%;        
            }
        }

        .user{
          display: flex;
          align-items: center;
          gap: 20px;
          label{
            font-size: 24px;
            font-weight: bold;
            color: #0075eb;
          }
          .img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
          }
        }
    }

.main{
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    app-header{
        display: flex;
        width: 10%;
        position: relative;
        z-index: 1;
    }

    app-body{
        width: 90%;
        z-index: 0;
        background: #F2F3F8;
    }

    app-login{
      width: 100%;
      z-index: 0;
      background: #F2F3F8;
  }
}

}

::ng-deep {
    .p-datatable .p-datatable-thead > tr > th {
      text-align: left;
      padding: 1.2rem 1rem;
      border: 1px solid #e5e7eb;
      border-width: 0 0 1px 0;
      font-size: 1.2rem;
      font-weight: 700;
      color: #ffffff;
      background: #0075eb;
      transition: box-shadow 0.2s;
    }
  
    .p-datatable-wrapper {
      border: 1px solid rgba(119, 119, 119, 0.492);
      border-radius: 6px;
    }
    .p-paginator {
      background: transparent;
      color: #6b7280;
      border: none;
      border-width: 0;
      padding: 0.5rem 0rem;
      border-radius: 6px;
    }
  
    .p-paginator {
      display: flex;
      align-items: center;
      justify-content: right;
      flex-wrap: wrap;
    }
  
    .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
      background: #0075eb;
      border-color: #eff6ff;
      color: #eff6ff;
    }
  
    .p-dropdown {
      box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.31);
    }
  }

