
<div class="container">
    <div class="main">
        <div class="body">
            <div class="infos">
                <div class="imgLeft">
                    <img src="/images/dogAndCat.jpg" alt="">
                </div>
            </div>

            <div class="right">
                <div class="header">
                    <div class="img">
                        <img src="/images/logoLogin.png" alt="">
                    </div>
                    <h1>Seja Bem Vindo de volta.</h1>  
                </div>
                <div class="forms">
                    <form [formGroup]="formUserlogin">
                        <h2>Faça o seu login</h2>
                        <article>
                            <label >Email:</label>             
                            <input  placeholder="Informe seu email" pInputText type="text" formControlName="email"  />
                        </article>
        
                        <article>
                            <label for="senha">Senha:</label>
                            <p-password  id="senha" placeholder="Sua senha" [feedback]="false" formControlName="senha"/>
                        </article>
                
                        <p-button type="button" class="btnFooter" label="Login" [raised]="true" (click)="loginUserFunc()" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="top-right" [baseZIndex]="9999"/>
